
{% extends 'nav.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top: 50px;"> 
<h1 class="text-center">About Us</h1>
<br><br>
<div class="row">
	<div class="col-sm-4 text-center">
		<img src="{% static 'images/about.jpg' %}" width="300" height="200">	
	</div>
	<div class="col-sm-8 font-weight-bold mt-5">
		Hello Friends..<br>
		This is a simple Hospotal Management System Project Devloped by  xyz , abc and Mohammad Muzaffaruddin using HTML,CSS,Javascript,Bootstrap,python Django and SQlite Database.
	</div>
</div>
</div>

{% endblock %}