{% extends 'nav.html' %}
{% load static %}
{% block body %}
<body>
<div class="container" style="margin-top: 50px;">
<h2 class="text-center">Administration Control</h2>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-4 text-center mydivstyle">
		<a href=""><h3 style="color: cyan;">Teachers</h3>
		<h3 style="color:purple;">aBC</h3>
		<hr class="rounded"></a>
	</div>
	<div class="col-sm-4 text-center mydivstyle">
		<a href=""><h3 style="color: cyan;">Students</h3>
		<h3 style="color:purple;">abc</h3>
		<hr class="rounded"></a>
	</div>
	<div class="col-sm-4 text-center mydivstyle">
		<a href=""><h3 style="color: cyan;">List of Classes</h3>
		<h3 style="color:purple;">abc</h3>
		<hr class="rounded"></a>
	</div>
</div>
</div>
</body>
{% endblock %}